<div class="ui card">
  <div class="content">
    <p class="header">
      <%= @list.name %> 
    </p>
  </div>
  <div class="extra content">
    <%= link_to 'Edit', edit_list_path(@list) %> |
    <%= link_to 'Back', lists_path %> |
    <%= link_to 'View Artists', list_artists_path(@list)%>

  </div>
</div>